<strong>
  <span class="pf2-icon larger">{{action.typeNumber}}</span>
  {{localize action.title}}{{#if action.subtitle}}: {{localize action.subtitle}}{{/if}}
</strong>
{{#if traits}}
  <div class="tags">
    {{#each traits as |trait|}}
      <span class="tag" title="{{localize trait.description}}">{{trait.name}}</span>
    {{/each}}
  </div>
{{/if}}
<hr class="action-divider" />
