<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label>{{localize "PF2E.SettingsColorLabel"}}</label>
        <select name="color">
            {{#select color}}
            <option value="blue">{{localize "PF2E.SettingsColorBlue"}}</option>
            <option value="red">{{localize "PF2E.SettingsColorRed"}}</option>
            <option value="original">{{localize "PF2E.SettingsColorOriginal"}}</option>
            <option value="ui">{{localize "PF2E.SettingsColorFoundry-UI"}}</option>
            {{/select}}
        </select>
        <p class="notes">{{ localize "PF2E.SettingsColorNotes" }}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.SettingsQuickRollsLabel"}}</label>
        <input type="checkbox" name="quickD20roll" {{checked quickD20roll}} data-dtype="Boolean">
        <p class="notes">{{ localize "PF2E.SettingsQuickRollsNotes" }}</p>
    </div>

    <div style="width: 60%; margin: 20px auto 0px auto;">
      <button type="submit" name="submit" value="1"><i class="fas fa-save"></i> {{localize 'PLAYERS.SaveConfig'}}</button>
    </div>
</form>
